<script src="js/jquery-3.3.1.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.js"></script>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 book-loop-footer">

	<!-- Footer Links -->
	<div class="container-fluid text-center">

		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-12 mt-md-0 mt-3">

				<!-- Content -->
				<h5 class="text-uppercase">BookCycle</h5>
				<p>Greatest teacher of all time is book. Lets share books.</p>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none pb-3">

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2018 Copyright:
		<a href="/"> bookcycle.com</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->

</html>