<!DOCTYPE html>
<html>

<head>
	<title>Bookcycle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bookcycle.css">
</head>

<body>