<!DOCTYPE html>
<html>

<head>
	<title>Bookcycle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="/libs/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/css/bookcycle.css">

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.js"></script>
	<script src="/libs/slick/slick.js"></script>
</head>

<body>