<div class="home-after-nav-content">
	<div class="container">
		<div class="row">
			<div class="col-md-4 desk">
				<img src="images/car_book.svg">
				<div class="tt">
					sell books
					<br>
					that you have read
				</div>
			</div>
			<div class="col-md-4 rocket">
				<img src="images/rocket_book.svg">
				<div class="tt">
					take your books
					<br>
					out of their misery
				</div>
			</div>
			<div class="col-md-4 stack">
				<img src="images/stack_book.svg">
				<div class="tt">
					buy books
					<br>
					at low price
				</div>
			</div>
		</div>
	</div>
</div>
