<div class="home-after-nav-content">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-12 desk">
				<img src="images/desk.png">
				<span class="tt">
					sell books
					<br>
					that you have read
				</span>
			</div>
			<div class="col-md-4 col-12 rocket">
				<img src="images/rocket.png">
				<span class="tt">
					take your books
					<br>
					out of their misery
				</span>
			</div>
			<div class="col-md-4 col-12 stack">
				<img src="images/stack.png">
				<span class="tt">
					buy books
					<br>
					at low price
				</span>
			</div>
		</div>
	</div>
</div>
