<form class="login-form" action="/login" method="POST">
	<div class="form-group">
		<input type="text" name="email" class="form-control" id="user-name" placeholder="Email">
	</div>
	<div class="form-group">
		<input type="password" name="password" class="form-control" id="user-password" placeholder="Password">
	</div>
	<div class="form-group">
		<button type="submit" class="btn bookcycle-btn">Login</button>
	</div>
</form>
<div class="form-group">
	<a href="/auth/facebook"><button type="submit" class="btn bookcycle-btn">Facebook</button></a>
	<a href="/auth/google"><button type="submit" class="btn bookcycle-btn">Google</button></a>
</div>