<header class="bookcycle-header">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="/">
				<img src="/images/logo.svg" width="250px">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
					<li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
					<% if (!currentUser) { %>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
					<% } else { %>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
					<li class="nav-item"><a class="nav-link" href="/myProfile">
							<%= currentUser.local.name || currentUser.facebook.name || currentUser.google.name  %></a></li>
					<li><a href="/cart">
							<img src="/images/shopping-cart.svg" height="20" alt="">
							<% if (session.cart) { %>
							<span class="" style="color:white">
								<%=session.cart.totalQty%></span>
							<% } %>

						</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
	</div>
</header>