<form class="sell-form" action="/sell" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" name="newBookname" class="form-control" id="book-name" placeholder="Book Name">
    </div>
    <div class="form-group">
        <input type="text" name="newAuthor" class="form-control" id="author-name" placeholder="Author Name">
    </div>
    <div class="form-group">
        <div class="inner-wrap">
            <input type="file" id="photo" name="photo" />
        </div>
    </div>

    <div class="form-group">
        <input type="text" name="newPrice" class="form-control" id="book-price" placeholder="Book Price">
    </div>
    <div class="form-group">
        <button type="submit" class="btn bookcycle-btn">Sell</button>
    </div>
</form>