<form class="sell-form" action="/sell" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" name="newBookname" class="form-control sellbox" id="book-name" placeholder="Book Name">
        </div>
        <div class="form-group col-md-6">
            <input type="text" name="newAuthor" class="form-control sellbox" id="author-name" placeholder="Author Name">
        </div>
        <div class="form-group col-md-6">
            <input type="text" name="newPrice" class="form-control sellbox" id="book-price" placeholder="Book Price">
        </div>
        <div class="form-group col-md-6">

            <select id="inputState" name="category" class="form-control">
                <option selected>Bangla</option>
                <option>English</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <div class="inner-wrap">
                <input type="file" id="photo" name="photo" />
            </div>
        </div>
    </div>
    <div class="form-group sell-btn">
        <button type="submit" class="btn bookcycle-btn">Sell</button>
    </div>
</form>