:root {
  --color-light-1: #fff;
  --color-light-2: #f7f7f7;
  --color-light-3: #ececec;
  --color-light-4: #d6d6d6;

  --color-dark-1: rgb(68, 0, 0);
  --color-dark-15: rgba(139, 0, 0, 0.3);
  --color-dark-2: rgba(139, 0, 0, 0.75);
  --color-dark-3: rgba(139, 0, 0, 1);
  --color-dark-4: rgb(97, 0, 0);

  --color-tr-1: rgba(0, 0, 0, 0.3);

  --border-white: 1px solid var(--color-light-3);
  --border-white-thin: .1px solid rgb(175, 76, 76);

  --shadow-1: 0px 2px 3px var(--color-dark-1);
}

.navigation {
  border-bottom: var(--border-white);
}
.navigation-bar {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 40px;
}
.list-menu {
  width: 700px;
  align-self: center;
}
.list-menu ul {
  margin: 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.list-menu ul li {
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-light-2);
  background-color: transparent;
  transition: background-color 500ms ease;
}
.list-menu ul li:hover {
  background-color: var(--color-light-2);
  color: var(--color-dark-1);
  cursor: pointer;
}
.contents {

}
.content-box {
  margin: 0 auto;
  display: flex;
}
.left-side-nav {
 background-color: var(--color-dark-2);
 height: 92vh;
 width: 250px;
}

.main-content {
  flex: 1;
}
.right-side-nav {
  background-color: var(--color-dark-2);
  height: 92vh;
  width: 150px;
 }

 .user-box {

 }
 .user {
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .user-wrapper {
  display: flex;

 }
 .user-notification {

   height: 30px;
 }
 .user-image {
   height: 50px;
   width: 50px;

   margin-right: 10px;
 }
 .user-details {
   padding-left: -15px;
   color: var(--color-light-2);
 }
.user-credentials {
  padding: 20px 0;
  border-bottom: var(--border-white);
  color: var(--color-light-2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-like {
  display: flex;
  align-items: center;

}
.user-edit {
  display: flex;
  align-items: center;
}
.user-edit-icon {
  height: 20px;
}
.user-tr {
  display: flex;
  align-items: center;

}
.user-like-icon {
  height: 20px;
}
.user-like-count {
  margin-left: 10px;
}
.user-tr-icon {
  height: 20px;
}
.user-tr-count {
  margin-left: 10px;
}



.filter {
  width: 88%;
  margin: 0 auto;
}
.filter-box {
  
}

.filter-title {
  color: var(--color-light-2);
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.box {
  position: relative;
  margin-bottom: 15px;
}

.box:before {
  content: "";
  background-color: var(--color-dark-4);
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  pointer-events: none;
}
.box:hover:before + .down-icon:hover {
  transform: rotate(0deg);
}
.title {
  font-family: inherit;
  font-size: 14px;
  margin: 5px 0;
  color: var(--color-light-2);
  z-index: 1000;
}
.select {
  background: var(--color-dark-3);
  color: var(--color-light-2);
  padding: 5px 0;
  width: 100%;
  border: none;
  border-radius: none;
  box-shadow: var(--shadow-1);
  -webkit-appearance: button;
}
.select-option {
  font-size: 20px;
}

.box-wrapper {
  position: relative;
}
.down-icon {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 15px;
  z-index: 999;
  transform: rotate(180deg);
  transition: all 200ms ease-in-out;
}

.down-icon:hover {
  transform: rotate(0deg);
}

.main-content {
  
}
.info-box {

}
.info-result {
  color: var(--color-light-2);
  padding: 15px 17px;
}
.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card-box {
  margin: 0 0 14px 0;
  background-color: var(--color-dark-2);
  width: 300px;
  height: 200px; 
  border: var(--border-white-thin);
}
.card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.card-image-box {
  overflow: hidden;
}
.card-image {
  width: 120px;
}

.card-details {
  flex: 0 1 150px;
}
.card-title {
  line-height: 18px;
  font-size: 16px;
  color: var(--color-light-2);
}
.card-subtitle {
  line-height: 14px;
  font-size: 14px;
  color: var(--color-light-2);
}
