<% include partials/header %>

<% include partials/main-nav %>

<section class="container">
  <h1 class="page-header text-center">Buy Books</h1>
  <div class="card bookcycle-card bg-transparent">
    <% include partials/buy-cards %>
  </div>

</section>

<% include partials/footer %>