<% include partials/header %>

    <div class="container">
      <div class="row" style="display: flex; flex-wrap: wrap; ">
        <% docs.forEach((book) => { %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= book.bookImg %>" alt="image missing">
            <div class="caption">
              <h4>
                <%= book.name %>
              </h4>
              <h5>
                <%= book.author %>
              </h5>
              <p>
                <%= book.price %>
              </p>
              <button class="btn btn-primary btn-sm btn-block">Details</button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>


  </div>
  <% include partials/footer %>