<% include partials/header %>

<% include partials/main-nav %>

<section class="container">

  <div class="card bookcycle-card bg-transparent">
    <h1 class="page-header text-center">My Cart</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>QTY</th>
          <th>Price</th>
          <th>Total QTY</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. Ebong Himu</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix">
      <div class="float-sm-left">Available Balance: 500TK</div>
      <div class="float-sm-right">
        <a href="" class="btn btn-danger">Discard</a>
        <a href="" class="btn btn-success">Proceed</a>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="col-sm-4 offset-sm-4">
    <div class="input-group bookcycle-search-bar">
      <input type="text" class="form-control" placeholder="Search Any Book" aria-label="Search Any Book" aria-describedby="btnGroupAddon">
      <div class="input-group-append">
        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-search"></i></div>
      </div>
  </div>
  </div>

  <br>
  <br>

</section>

<% include partials/footer %>
