<% include partials/header %>

<% include partials/main-nav %>

<section class="container">
    <div class="history mt-4">

        <div class="heading">Sellers</div>

        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        adnan
                    </td>
                    <td>
                        12-12-2018
                    </td>
                    <td>
                        mirpur
                    </td>
                    <td>
                        112
                    </td>
                    <td><a href=""><button class="btn btn-sm">Buy</button></a></td>
                </tr>

            </tbody>
        </table>
    </div>
</section>

<% include partials/footer %>