<% include partials/header %>

  <div class="jumbotron" style="padding:40px;">
    <h1>Resell your books.</h1>
    <p>Books play a significant role in our life. They say that “When you open a book, you open a new world". Let
      others read what you already read.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">We are coming soon</a></p>
  </div>
  <div>
  </div>
</div>

<% include partials/footer %>