<% include partials/header %>

<% include partials/main-nav %>

<section class="container">

	<div class="card bookcycle-card bg-transparent">
		<h1 class="page-header text-center">My Profile</h1>
		<form class="login-form" action="/myProfile" method="POST">
			<div class="form-group">
				<input type="text" name="handle" class="form-control" placeholder="Handle">
			</div>
			<div class="form-group">
				<input type="text" name="fullName" class="form-control" placeholder="Full Name">
			</div>
			<div class="form-group">
				<input type="text" name="status" class="form-control" placeholder="Attach a status to your profile">
			</div>
			<div class="form-group">
				<input type="text" name="favouriteAuthors" class="form-control" placeholder="Enter some of your favourite authors">
			</div>
			<div class="form-group">
				<input type="text" name="favouriteBooks" class="form-control" placeholder="Enter some of your favourite books">
			</div>
			<div class="form-group">
				<input type="text" name="favouriteQuotes" class="form-control" placeholder="Enter some of your favourite quotes">
			</div>
			<div class="form-group">
				<input type="text" name="ownedBooks" class="form-control" placeholder="Books you own">
			</div>
			<div class="form-group">
				<input type="text" name="readBooks" class="form-control" placeholder="Books you read">
			</div>
			<div class="form-group">
				<input type="text" name="location" class="form-control" placeholder="Enter your address">
			</div>
			<div class="form-group">
				<button type="submit" class="btn bookcycle-btn">Submit</button>
			</div>

		</form>
	</div>

</section>

<% include partials/footer %>