<% include partials/header %>

  <% include partials/main-nav %>

  <section class="container">

    <div class="card bookcycle-card bg-transparent">
      <h1 class="page-header text-center">Register</h1>
      <% include partials/register-form %>
    </div>

  </section>

<% include partials/footer %>
