body {
  background-image: url("../images/bg-pattern-white-dark.svg");
}

.bookcycle-header {
  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid white;
}

.bookcycle-header::after {
  content: none;
  background-image: url(../images/bulb.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  position: absolute;
  left: 50%;
  top: 0;
}
.row {
  margin-top: 100px;
}

.bookcycle-jumbotron {
  color: #fff;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.bookcycle-jumbotron img {
  max-width: 75%;
}

.bookcycle-jumbotron .tt {
  font-size: 1.4em;
  font-weight: bold;
}
.bookcycle-cards {
  margin-top: 0px;
}

.page-header {
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.bookcycle-card {
  color: #fff;
  border-color: #fff;
  margin-bottom: 50px;
  max-width: 100%;
  margin: 0 auto;
}

.bookcycle-card ::placeholder {
  color: #fff;
}

.bookcycle-card input[type="email"],
.bookcycle-card input[type="password"],
.bookcycle-card input[type="text"] {
  background-color: transparent;
  color: #fff;
}

.bookcycle-btn {
  background-color: #ae0c00;
  color: #fff;
  border-color: #fff;
  /*	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;*/
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ae0c00;
  border: 0px;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.bookcycle-btn:hover {
  background-color: #fff;
  color: #ae0c00;
}

@media (min-width: 768px) {
  .bookcycle-jumbotron {
    margin-top: 0px;
  }

  .bookcycle-jumbotron .desk,
  .bookcycle-jumbotron .rocket,
  .bookcycle-jumbotron .stack {
    margin-bottom: 100px;
  }

  .bookcycle-jumbotron .rocket {
    margin-top: 100px;
  }

  .bookcycle-card {
    padding: 70px 90px 75px;
  }
}

@media (max-width: 767px) {
  .bookcycle-jumbotron .desk,
  .bookcycle-jumbotron .rocket,
  .bookcycle-jumbotron .stack {
    margin-bottom: 50px;
  }

  .bookcycle-card {
    padding: 15px;
  }
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.card-title {
  font-size: 1rem;
}

.card-body {
  padding: 0.75rem;
}
