.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 15rem;
    text-align: center;
    font-family: arial;
  }
  
  p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
  }
  
  .card button:hover {
    background: #ff493c;
  }
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }